# Week 1 exercise

Developer name: Stefanos Perlantidis-Papadopoulos

Date: 2-9-2020 

Data file path:
/content/drive/My Drive/Pfizer Python Training/Week 1 excercise/data.csv

# Task 1

Read the file:

In [44]:
data = []
f = open('/content/drive/My Drive/Pfizer Python Training/Week 1 excercise/data.csv', 'r')
for line in f:
  data.append(line.split(','))
f.close()

# Task 2

How many rows does it have?

How many columns does it have?

In [66]:
print('The data table has ',len(data),' rows and ',len(data[0]),' columns')

The data table has  569  rows and  31  columns

# Task 3

Compute the mean of each column

In [69]:
print('The type of this list elements is :', type(data[0][0]))

The type of the list elements is : <class 'str'>

First of all we have to change the data type so that we can make calculations

In [75]:
print('The type of this list elements is :', type(float(data[0][0])))
print('Hurray!!! :-D')

The type of this list elements is : <class 'float'>
Hurray!!! :-D

In [76]:
for i in range (len(data)):
  for j in range (len(data[0])):
    data[i][j] = float(data[i][j])

Calculate the mean of each column

In [96]:
col_mean = []
for j in range (len(data[0])):
  temp = 0
  for i in range (len(data)):
    temp += data[i][j]
  col_mean.append(temp/len(data))

# Task 4

To calculate the variance:

1) Work out the Mean 

2) Then for each number: subtract the Mean and square the result (the squared difference).

3) Then work out the average of those squared differences.

In [98]:
col_var = []
for j in range (len(data[0])):
  temp = 0
  for i in range (len(data)):
    temp += (col_mean[j] - data[i][j]) ** 2
  col_var.append(temp/len(data))

#Task 5

Print the results

In [103]:
for i in range (0,len(col_mean)):
  print('The mean of column ', i ,' is ', col_mean[i], 'and the variance is ', col_var[i])

The mean of column  0  is  14.127291739894563 and the variance is  12.39709425935181
The mean of column  1  is  19.28964850615117 and the variance is  18.46639741599513
The mean of column  2  is  91.96903339191566 and the variance is  589.4027985384278
The mean of column  3  is  654.8891036906857 and the variance is  123625.90307986429
The mean of column  4  is  0.096360281195079 and the variance is  0.00019745207338314372
The mean of column  5  is  0.10434098418277686 and the variance is  0.002784285489365304
The mean of column  6  is  0.08879931581722322 and the variance is  0.006344078747698312
The mean of column  7  is  0.048919145869947236 and the variance is  0.0015030146166694059
The mean of column  8  is  0.181161862917399 and the variance is  0.0007502220077773419
The mean of column  9  is  0.06279760984182776 and the variance is  4.976111520102791e-05
The mean of column  10  is  0.4051720562390161 and the variance is  0.07676719835798636
The mean of column  11  is  1.2168534270650269 and the variance is  0.3037811231560935
The mean of column  12  is  2.8660592267135288 and the variance is  4.080711486492194
The mean of column  13  is  40.33707908611603 and the variance is  2065.7946205086814
The mean of column  14  is  0.007040978910369071 and the variance is  8.999270217481423e-06
The mean of column  15  is  0.025478138840070306 and the variance is  0.0003201392613005824
The mean of column  16  is  0.03189371634446394 and the variance is  0.0009095968349446704
The mean of column  17  is  0.011796137082601056 and the variance is  3.8005508023387585e-05
The mean of column  18  is  0.020542298769771532 and the variance is  6.82128052850776e-05
The mean of column  19  is  0.0037949038664323374 and the variance is  6.9893863052926034e-06
The mean of column  20  is  16.269189806678394 and the variance is  23.319169299650056
The mean of column  21  is  25.677223198594014 and the variance is  37.71009176213321
The mean of column  22  is  107.2612126537786 and the variance is  1127.146434206096
The mean of column  23  is  880.5831282952545 and the variance is  323597.6708928502
The mean of column  24  is  0.13236859402460469 and the variance is  0.0005204036289546916
The mean of column  25  is  0.25426504393673144 and the variance is  0.024711264995472573
The mean of column  26  is  0.27218848330404205 and the variance is  0.04344759820889297
The mean of column  27  is  0.11460622319859404 and the variance is  0.004313147110243685
The mean of column  28  is  0.29007557117750454 and the variance is  0.0038208566791553033
The mean of column  29  is  0.08394581722319855 and the variance is  0.0003256360752987545
The mean of column  30  is  0.37258347978910367 and the variance is  0.2337650303773462

#Task 6 (Bonus 1)

Compute the median of each column.

In [121]:
col_median = []
for j in range (len(data[0])):
  temp_list = []
  for i in range (len(data)):
    temp_list.append(data[i][j])
  temp_list.sort()
  col_median.append(temp_list[len(temp_list)//2])

In [124]:
for i in range (0,len(col_mean)):
  print('The median of column ', i ,' is ', col_median[i])

The median of column  0  is  13.37
The median of column  1  is  18.84
The median of column  2  is  86.24
The median of column  3  is  551.1
The median of column  4  is  0.09587000000000001
The median of column  5  is  0.09262999999999999
The median of column  6  is  0.06154
The median of column  7  is  0.0335
The median of column  8  is  0.1792
The median of column  9  is  0.06154
The median of column  10  is  0.3242
The median of column  11  is  1.1079999999999999
The median of column  12  is  2.287
The median of column  13  is  24.53
The median of column  14  is  0.006379999999999999
The median of column  15  is  0.02045
The median of column  16  is  0.025889999999999996
The median of column  17  is  0.01093
The median of column  18  is  0.01873
The median of column  19  is  0.003187
The median of column  20  is  14.97
The median of column  21  is  25.41
The median of column  22  is  97.66
The median of column  23  is  686.5
The median of column  24  is  0.1313
The median of column  25  is  0.2119
The median of column  26  is  0.2267
The median of column  27  is  0.09992999999999999
The median of column  28  is  0.2822
The median of column  29  is  0.08004
The median of column  30  is  0.0

#Task 7 (Bonus 2)

Incorporate the above functionality into a python class

In [181]:
class Dataset:
  data = []

  def __init__(self,my_path):
    try:
      self.data.clear()
      #read the data
      f = open(my_path, 'r')
      for line in f:
        self.data.append(line.split(','))
      #convert the table to float
      for i in range (len(self.data)):
        for j in range (len(self.data[0])):
          self.data[i][j] = float(self.data[i][j])
      #calculate and print results
      mean = self.calc_mean()
      variance = self.calc_var()
      median = self.calc_meadian()
      for i in range (0,len(mean)):
        print('The mean of column ', i , ' is : ' , mean[i] , ', the variance is : ' , variance[i] , ' and the median is : ' , median[i])
      f.close()
    except (FileNotFoundError, IOError):
      print("Wrong file or file path")

  def get_data(self):
    return self.data

  def calc_mean(self):
    col_mean = []
    for j in range (len(self.data[0])):
      temp = 0
      for i in range (len(self.data)):
        temp += self.data[i][j]
      col_mean.append(temp/len(self.data))
    return col_mean

  def calc_var(self):
    col_var = []
    for j in range (len(self.data[0])):
      temp = 0
      for i in range (len(self.data)):
        temp += (col_mean[j] - self.data[i][j]) ** 2
      col_var.append(temp/len(self.data))
    return col_var

  def calc_meadian(self):
    col_median = []
    for j in range (len(self.data[0])):
      temp_list = []
      for i in range (len(self.data)):
        temp_list.append(self.data[i][j])
      temp_list.sort()
      col_median.append(temp_list[len(temp_list)//2])
    return col_median

In [183]:
example1 = Dataset('/content/drive/My Drive/Pfizer Python Training/Week 1 excercise/data.csv')

The mean of column  0  is :  14.127291739894563 , the variance is :  12.39709425935181  and the median is :  13.37
The mean of column  1  is :  19.28964850615117 , the variance is :  18.46639741599513  and the median is :  18.84
The mean of column  2  is :  91.96903339191566 , the variance is :  589.4027985384278  and the median is :  86.24
The mean of column  3  is :  654.8891036906857 , the variance is :  123625.90307986429  and the median is :  551.1
The mean of column  4  is :  0.096360281195079 , the variance is :  0.00019745207338314372  and the median is :  0.09587000000000001
The mean of column  5  is :  0.10434098418277686 , the variance is :  0.002784285489365304  and the median is :  0.09262999999999999
The mean of column  6  is :  0.08879931581722322 , the variance is :  0.006344078747698312  and the median is :  0.06154
The mean of column  7  is :  0.048919145869947236 , the variance is :  0.0015030146166694059  and the median is :  0.0335
The mean of column  8  is :  0.181161862917399 , the variance is :  0.0007502220077773419  and the median is :  0.1792
The mean of column  9  is :  0.06279760984182776 , the variance is :  4.976111520102791e-05  and the median is :  0.06154
The mean of column  10  is :  0.4051720562390161 , the variance is :  0.07676719835798636  and the median is :  0.3242
The mean of column  11  is :  1.2168534270650269 , the variance is :  0.3037811231560935  and the median is :  1.1079999999999999
The mean of column  12  is :  2.8660592267135288 , the variance is :  4.080711486492194  and the median is :  2.287
The mean of column  13  is :  40.33707908611603 , the variance is :  2065.7946205086814  and the median is :  24.53
The mean of column  14  is :  0.007040978910369071 , the variance is :  8.999270217481423e-06  and the median is :  0.006379999999999999
The mean of column  15  is :  0.025478138840070306 , the variance is :  0.0003201392613005824  and the median is :  0.02045
The mean of column  16  is :  0.03189371634446394 , the variance is :  0.0009095968349446704  and the median is :  0.025889999999999996
The mean of column  17  is :  0.011796137082601056 , the variance is :  3.8005508023387585e-05  and the median is :  0.01093
The mean of column  18  is :  0.020542298769771532 , the variance is :  6.82128052850776e-05  and the median is :  0.01873
The mean of column  19  is :  0.0037949038664323374 , the variance is :  6.9893863052926034e-06  and the median is :  0.003187
The mean of column  20  is :  16.269189806678394 , the variance is :  23.319169299650056  and the median is :  14.97
The mean of column  21  is :  25.677223198594014 , the variance is :  37.71009176213321  and the median is :  25.41
The mean of column  22  is :  107.2612126537786 , the variance is :  1127.146434206096  and the median is :  97.66
The mean of column  23  is :  880.5831282952545 , the variance is :  323597.6708928502  and the median is :  686.5
The mean of column  24  is :  0.13236859402460469 , the variance is :  0.0005204036289546916  and the median is :  0.1313
The mean of column  25  is :  0.25426504393673144 , the variance is :  0.024711264995472573  and the median is :  0.2119
The mean of column  26  is :  0.27218848330404205 , the variance is :  0.04344759820889297  and the median is :  0.2267
The mean of column  27  is :  0.11460622319859404 , the variance is :  0.004313147110243685  and the median is :  0.09992999999999999
The mean of column  28  is :  0.29007557117750454 , the variance is :  0.0038208566791553033  and the median is :  0.2822
The mean of column  29  is :  0.08394581722319855 , the variance is :  0.0003256360752987545  and the median is :  0.08004
The mean of column  30  is :  0.37258347978910367 , the variance is :  0.2337650303773462  and the median is :  0.0